body {
    background-color: darkcyan;
}

.grid-container {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); */


}


.grid-item {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-grid-container {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(250px, 1fr)); */
    grid-auto-rows: 240px;

    
}


.photo-grid-item {
    /* width: 400px;
    height: 250px; */

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-size: cover;
}


@media screen and (min-width: 600px) {
    .card-tall {
        grid-row: span 2 / auto;
    }
    
    .card-wide {
        grid-column: span 2 / auto;
    }
    
}





