* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #30a6e1;

}

main {
    width: 80vw;
    margin: 20vh auto;
    height: 50vh;
    background-color: #77c4eb;
    border: 3.5px solid #4285a7;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0 auto;
    font-size: 2.3rem;
    margin-bottom: 2rem;
}

.clock {
    font-family: monospace;
    font-size: 3.5rem;
    font-weight: bolder;
    text-align: center;
}

